---
import { ClientRouter } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
	title: string;
	description: string;
	image?: string;
}
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	//image = "../../public/almaria-logo.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- <link rel="canonical" href={canonicalURL} /> -->
		<title>Alamaria - Shop</title>
		<meta name="title" content={title} />
		<meta name="description" content={Astro.props.description} />
		<!-- <link
			rel="alternate"
			type="application/rss+xml"
			title={Astro.props.title}
			href={new URL("rss.xml", Astro.site)}
		/> -->
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>
